# Cloned repositories and generated scripts (recreated by init.sh)
with-prethink/*
!with-prethink/.gitkeep
!with-prethink/refresh-prethink.sh
no-prethink/*
!no-prethink/.gitkeep

# Moderne build artifacts
.moderne/

# macOS
.DS_Store

# IDE
.idea/
*.iml
.vscode/
